.copy_right_footer
 {
   position: fixed;
   color: coral;
   bottom: 0;
   width: 100%;
   background-color: rgb(52, 15, 121);
   line-height: 3;
   text-align: center;
   margin-top: 50px;
 }

 .main_div
 {
     background: aqua;
     padding: 30px;
     border-radius: 20px;
     margin-top: 50px;
     margin-bottom: 100px;;
 }

 .output1
 {
     margin-top: 100px;
     margin-right: 400px;
 }

 .output2
 {
     margin-top: 100px;
     margin-right: 400px;
 }

 .output3
 {
     margin-top: 100px;
     margin-right: 400px;
 }

 .output4
 {
     margin-top: 100px;
     margin-right: 400px;
 }